<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/navbar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <title>Desapego</title>
</head>
<body>

    <nav class="neo-navbar">
        <div class="neo-brand">
            <a href="/" class="neo-logo-link">
                <i class="fa-solid fa-ghost"></i>
                <span>DESAPEGO</span>
            </a>
        </div>

        <ul class="neo-menu">
            <li><a href="/categorias"><span>C</span>ategorias</a></li>
            <li><a href="/promocoes"><span>P</span>romoções</a></li>
            <li><a href="/vender"><span>V</span>ender</a></li>
        </ul>

        <div class="neo-actions">
            <div class="neo-search-wrapper">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input type="text" class="neo-search-input" placeholder="Buscar...">
            </div>

            <a href="/login" class="neo-action-button" title="Minha Conta">
                <i class="fa-solid fa-user"></i>
            </a>

            <a href="/cart" class="neo-action-button" title="Carrinho">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="neo-cart-count">3</span>
            </a>
        </div>
    </nav>

    </body>
</html>