<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script src="js/theme.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar ao Carrinho - Desapego ENIAC</title>
    <link rel="stylesheet" href="./css/cart.css">
    <link rel="stylesheet" href="../www/css/navbar.css">

</head>
<body>

    <%- include('partials/navbar') %>

    <div class="main-banner">
        <h1>Carrinho de Compras</h1>
    </div>

    <main class="container-carrinho">
    
        <div class="lista-produtos">
            <h2>Seu Carrinho</h2>
            
            <div class="item-carrinho">
                <img src="imagem_produto1.jpg" alt="Produto 1" class="item-imagem">
                <div class="item-info">
                    <h3 class="item-titulo">Nome do Produto 1</h3>
                    <p class="item-preco">R$ 79,90</p>
                    <div class="item-quantidade">
                        <label>Qtd:</label>
                        <input type="number" value="1" min="1">
                    </div>
                </div>
                <button class="item-remover">×</button>
            </div>
    
            <div class="item-carrinho">
                </div>
    
            <a href="/" class="continuar-comprando-link">← Continuar Comprando</a>
        </div>
    
        <div class="resumo-pedido">
            <h2>Resumo do Pedido</h2>
            
            <div class="linha-subtotal">
                <span>Subtotal</span>
                <span>R$ 159,80</span>
            </div>
    
            <div class="calculo-frete">
                <label for="cep">Calcular frete:</label>
                <div class="input-grupo">
                    <input type="text" id="cep" placeholder="Digite seu CEP">
                    <button>OK</button>
                </div>
            </div>
    
            <div class="linha-total">
                <span>Total</span>
                <span class="preco-total">R$ 159,80</span>
            </div>
    
            <a href="/payment" target="_blank"><button class="btn-finalizar">Finalizar Compra</button></a>
    
            <div class="selos-confianca">
                <img src="caminho/para/selo-ssl.png" alt="Compra Segura">
                <span>Ambiente 100% seguro</span>
            </div>
        </div>
    </main>

    
    <script src="js/cart.js"></script>
</body>
</html>