<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <script src="js/theme.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar ao Carrinho - Desapego ENIAC</title>
    <link rel="stylesheet" href="./css/cart.css">
    <link rel="stylesheet" href="../www/css/navbar.css">

</head>
<body>

    <%- include('partials/navbar') %>

    <div class="main-banner">
        <h1>Carrinho de Compras</h1>
    </div>

    <main class="container">
        <div class="product-card">
            <img src="https://media.istockphoto.com/id/1399610550/pt/foto/rock-electric-guitar-in-rich-golden-color.jpg?s=612x612&w=0&k=20&c=8uvzDRIXHBJ0FRNf5547nqp8o9F8A9e1qyAeqPecWfQ=" alt="Nome do Produto" class="product-image">
            <div class="product-info">
                <h2 class="product-title">Nome do produto</h2>
                <p class="product-description">
                    Esta é uma breve descrição do produto. 
                </p>
                <p class="product-price">R$ 79,90</p>
                <div class="quantity-selector">
                    <label for="quantity" class="quant">Quantidade:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                </div>
                <button id="addToCartBtn" class="add-to-cart-btn"><a href="./">Finalizar pedido</a></button>
                <p id="feedbackMessage" class="feedback-message"></p>
            </div>
        </div>
    </main>

    <script src="script.js"></script>
    <script src="cart.js"></script>
</body>
</html>