<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <script src="js/theme.js"></script>
  
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desapego</title>
  
    <link rel="stylesheet" href="../bootstrap-5.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="shortcut icon" href="../www/img/logo.nav.png" type="image/x-icon"/>
  </head>
  
  <%- include('partials/navbar') %>

  <body>  
    <main>
      <div class="login">
        <h1>Login</h1>
        <form id="loginForm">
          <input type="text" name="email" placeholder="Usuário">
          <div class="senha-container">
            <input type="password" id="senha" name="password" placeholder="Senha">
          </div>
          <button type="submit" id="loginButton" >Fazer login</button>
        </form>
          <a href="logon" id="cadastro">Primeira vez por aqui? Crie sua conta!</a>

          <div id="messageArea" class="message"></div>
        </div>
    </main>
    <script src="/js/login.js"></script> 
  </body>
  
</html>
