<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Desapego</title>

  <link rel="shortcut icon" href="/img/logo.nav.png" type="image/x-icon"/>
  <link rel="stylesheet" href="/bootstrap-5.3.6-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/products.css">
  
  <script src="/js/theme.js" defer></script>
</head>

<body>
  <%- include('partials/navbar') %>

  <h1>fifidfsdjksdjkhsajkdfhjksldhjkfhsjkdlfhadjklfhsadjklfhsadjklfhsdjklfsad</h1>
  <p>fksdlfjskdlfjklsafjd</p>
</body>
</html>