<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="./css/prodRegister.css">
    <link rel="stylesheet" href="./css/products.css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Registro de Produto</title>
</head>

<body id="prodRegis">
    <div>
         <div class="neo-brand">
            <a href="/" class="neo-logo-link">
                <i class="fa-solid fa-ghost"></i>
                <span>VOLTAR AO DESAPEGO</span>
            </a>
        </div>
        <form id="productRegistrationForm" class="prodReg">
            <input name="name" class="inputProd" type="text" placeholder="Nome">
            <input name="description" class="inputProd" type="text"placeholder="Descricao">
            <select id="category" name="category"  class="inputProd" required>
                <option value="" class="inputProd" selected hidden disabled>Selecione o tipo do produto...</option>
                <option value="computador" class="inputProd">Computador</option>
                <option value="projetor" class="inputProd">Projetor</option>
                <option value="cadeira" class="inputProd">Cadeira</option>
                <option value="notebook" class="inputProd">Notebook</option>
                <option value="camera" class="inputProd">Camera</option>
                
                </select>

            <select id="status" name="status"  class="inputProd" required>
                <option value="" selected hidden disabled>Selecione o estado do produto...</option>
                <option value="new" >Novo</option>
                <option value="used">Marcas de uso</option>
                <option value="broken">Quebrado</option>
            </select>
            <input name="price" class="inputProd" type="number" step="0.01" placeholder="Preco">
            <input name="img" type="text" class="inputProd" placeholder="URL da Imagem">
            <div id="image-preview">Prévia da Imagem Aqui</div>
            <input name="date" class="inputProd" type="date" placeholder="Data">
            <input class="inputProd" type="submit" value="Cadastrar Produto">
        </form>
        <div id="message"></div> </div>
        
        <script src="js/prodRegister.js"></script>

</body>
<%- include('partials/footer') %>
</html>