@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Cal Sans", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --darkBlue: #023047;
  --mediumBlue: #219ebc;
  --lightBlue:#8ecae6;
  --yellow: #ffb703;
  --iconday: #ebc25a;
  --Input: #dad2d2;
  --filter: rgb(202, 200, 200);
}

a { /*colocar este fade em uma class propia para a "categoria"*/
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  align-items: center;
}

.icone {
  width: 26px;
  height: 26px;
  fill: var(--iconday); /* cor do ícone */
  margin-right: 35px;
}



/*
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: -10vh;
    width: 50vw;
    height: 92vh;
    background: hsl(219, 63%, 25%);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

ul li .nav-list.nav-list.active {
  padding: -40px;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
*/

/*CONTEÚDO INTEIRO*/
.container {
  display: flex;
}

main {
/* background: url("bg.jpg") no-repeat center center;*/
  background-size: cover;
  height: 92vh; /* Cuidado: se o header tem 10vh, isso pode causar scroll se houver padding/margin no body */
}

.banner{
  background-color: var(--darkBlue);
  height: 30vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.banner p{
  color: var(--yellow);
  font-size: 60px;
}

.filters{
  padding: 30px 70px 0px 0px;
}

#filters-sidebar {
  background-color: var(--filter);
}



